@{
    ViewData["Title"] = "Privacy Policy";
    var result = ViewData["result"];
}
<h1>@ViewData["Title"]</h1>
<form asp-action="Privacy">
    <input class="form-control" style="width: 350px; " id="exampleFormControlInput1" name="weight"
           placeholder="can nang" />
    <br />
    <input class="form-control" style="width: 350px; " id="exampleFormControlInput1" name="height"
           placeholder="chieu cao" />
    <br />
    <button type="submit" style="width: 350px" class="btn btn-dark">
        tinh
    </button>
</form>

@if (result != null)
{
    <h3>Kết quả là</h3>
    <h3>@result</h3>
}
else
{
    <h3>Mời nhập thông tin bên trên</h3>
}
<br />
<br />
